body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,198,227,1) 0%, rgba(7,59,154,0.7791491596638656) 53%, rgba(0,212,255,1) 100%);
  }

  .titulo{
    text-align: center;
  }


  .Imagenes{
    text-align: center;
  }

  .mom{
    text-align: center;
  }







  .momentos{
    margin: 20px;
    width: 220px;
    padding-left: 20px;
    border-radius: 50px;
  }


  .pie{
    background-color: #7a79ce;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }

  

  /* Variables */
:root {
  --color-primario: #2855a3;
  --color-secundario: #f1c40f;
  --color-fondo: #f9f9f9;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, var(--color-secundario), var(--color-fondo));
}

a {
  color: var(--color-primario);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
header {
  background-color: var(--color-fondo);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a:hover {
  border-bottom: 2px solid var(--color-primario);
}

/* Main */
main {
  max-width:
}